// Mixins for ContactSection
// Contains all of the media queries for all classes involved

@mixin contactSectionContainerReactive{
	@media(max-height: 400px) {
		height: 400px;
	}
}

@mixin contactLinksContainerReactive{
	@media(max-width:850px){
		display: flex;
		flex-direction: column;
		margin-top: 5vh;
	}
}

@mixin contactIconCardReactive{
	display: flex;
	flex-direction:column ;
	justify-content: space-evenly;
	align-items: center;
	height: 35vh;
	width: 20vw;
	margin: 10px;
	padding: 2vh;
	border-radius: 5vh;
	background-color: rgba(70, 70, 70, 0.25);
	font-size: calc(1.1vh + 1.1vw);
	@media(max-width:850px){
		align-self: center;
		height: 22vh;
		width: 22vh;
	}

}

@mixin contactIconImageReactive{
	align-self: center;
	height: 15vh;
	width: 15vh;
	padding:10px;
	border-radius: 10px;
	@media(max-width:850px){
		height: 12vh;
		width: 12vh;
	}

}
