// 1. General Section Container Mixin
@mixin sectionContainerDefault(){
	height: 100vh;
	background-color: $background-color;
}

// 2. General Text Container Mixin
@mixin textContainerDefault(){
	display: flex;
  flex-direction: column;
  padding-top: 2vh;
  padding-left: 8vw;
  padding-right: 2vw;
  color: $text-font-color;
}

// 3. General Header Mixin
@mixin headerDefault(){
	font-size: calc(4vh + 4vw);
	margin-top: 2.5vh;
  color: $header-font-color;
}

// 4. General Texts Mixin
@mixin textDefault(){
	font-size: calc(1.2vh + 1.25vw);
  margin-top: 2vh;
}