// Mixins for MainSection
// Contains all of the media queries for all classes involved

@mixin mainSectionContainerReactive{
	@media(max-height: 450px) {
		height: 450px;
	}
	@media(max-width: 600px){
		height: 105vh;
	}
	@media(max-width: 1000px){
		height: 125vh;
		flex-direction: column;
	}
	@media(max-width: 1000px) and (max-height: 450px){
		height: 100vh;
		flex-direction: row;
	}
}

@mixin mainTextContainerReactive{
	@media(max-width: 1000px){
		width: 100%;
	}
}

@mixin mainImageContainerReactive{
	@media(max-width: 1000px){
		margin-top: calc(2.5vh + 2.5vw);
	}
	@media(max-width:1000px) and (max-height: 400px){
		margin-top: 0;
	}
}

@mixin mainSummaryTextsReactive{
	@media(max-height: 600px){
		width: calc(50vh + 50vw);
		line-height: 25px;
	}
	@media(max-width: 1000px){
		width: calc(25vh + 25vw);
		font-size: calc(0.7vh + 0.7vw);
		line-height: calc(1.5vh + 1.5vw);
	}
	@media(max-width: 1600px) and (max-height:650px){
		width: calc(25vh + 25vw);
		font-size: calc(0.7vh + 0.7vw);
		line-height: calc(1.5vh + 1.5vw);
	}
}