// Mixins for Navbar

@mixin navbarStartEnd{

	margin-left: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 600;
	color: $navbar-button-color;
	&:hover{
		border-radius: 10px;
		color: rgb(10, 10, 10);
		background-color: rgba(220, 220, 220, 0.7);
		transition: color 0.1s;
		transition: background-color 0.3s;
	}

	@media(max-width:1023px){
		margin:0;
	}

}

@mixin navbarMenu{
	
	::v-deep{
		@media(max-width:1023px){
			.navbar-menu{
				background-color: rgb(10, 10, 10);
				text-align: center;
			}
			.navbar-menu:is-active{
				transition: display 0.2s;
			}
			.navbar-burger{
				color: $navbar-button-color;
			}
		}
	}

}