// Mixins for ProjectsSection
// Contains all of the media queries for all classes involved
@mixin projectSectionContainerReactive{
	@media(max-height: 650px){
		height: 60vw;
	}
}

@mixin projectImageTextContainerReactive{

	@media(max-width: 650px){
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    padding-top: 2vh;
    text-align: center;
    height: 100%;
	}

	@media(max-height: 650px){
		height: 30vw;
	}

	@media(max-height: 650px) and (max-width: 650px) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		margin-top: 50px;
		margin-bottom: 100px;
		padding: 2vh;
		height: 100%;
		text-align: center;
	}

}

@mixin projectImageContainerReactive{

	@media(max-width: 650px){
		margin-top: 2vh;
	}

	@media(max-height: 650px){
		justify-content: center;
	}

	@media(max-height: 650px) and (max-width: 650px) {
		margin-top: 0vh;
		margin-bottom: 0vh;
		display: flex;
		align-items: center;
		grid-column: 1 / 4;
		grid-row: 1 / 5;
		height: 100%;
	}

}

@mixin projectTextsContainerReactive(){

	@media(max-width: 650px){
		font-size: calc(1vh + 1vw);
		justify-content:flex-start;
	}

	@media(max-height: 650px) and (max-width: 650px) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: 2vh;
		grid-column: 4 / 6;
		grid-row: 1 / 5;
		font-size: 1.5vw;
	}

}

@mixin projectTitleReactive(){

	@media(max-width: 650px){
		font-size: calc(1.5vh + 1.25vw);
	}

	@media(max-height: 650px) and (max-width: 650px) {
		font-size: 2.5vw;
		align-items: center;
		margin-bottom: 1vh;
		font-weight:700;
	}

}