// General colors
$header-font-color: rgb(220, 220, 220);
$text-font-color: rgb(200, 200, 200);
$background-color: rgb(25, 25, 25);
$navbar-button-color: rgb(220, 220, 220);

// Timings for specific transitions
$transition-time-links: 0.2s;